@theme-color-bg: #ee6e73;
@theme-color-text: white;


.theme-color-bg{
    background-color: @theme-color-bg;
}

.theme-color-text{
    color: @theme-color-text;
}

.font-black{
    color: black !important;
}
